Create alarm and Make status in node-red dashboard.json
[{"id":"abe5fdac.b8167","type":"tab","label":"Alarm ","disabled":false,"info":""},{"id":"2ffd9283.af754e","type":"inject","z":"abe5fdac.b8167","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["dcc4defa.aafc5","46ac793d.f0a798"]]},{"id":"dcc4defa.aafc5","type":"function","z":"abe5fdac.b8167","name":"generator","func":"var max = 99;\nvar min = 30;\nmsg.payload= Math.round(Math.random() * (max - min +1) + min);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["55e4dd38.4d9424","9602899.275d178","2fdf3d44.c3c7f2"]]},{"id":"2fdf3d44.c3c7f2","type":"debug","z":"abe5fdac.b8167","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"9602899.275d178","type":"function","z":"abe5fdac.b8167","name":"","func":"var num = msg.payload;\n\nif (50 <= num && num < 70) {\n    count = 0\n} else if (num > 71) {\n    count = 1\n}else {\n    count = 2\n}\n\n\nmsg.payload = count; \n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[["2fdf3d44.c3c7f2","8f06d066.d3c14"]]},{"id":"d6e48058.85dd2","type":"ui_template","z":"abe5fdac.b8167","group":"dc93f64e.e19118","name":"Switch 1 Status","order":1,"width":0,"height":0,"format":"<style>\n.led-green {\nmargin: 0 auto;\nwidth: 90px;\nheight: 90px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n    <tr>\n <h4>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ALARM </h4>\n    </tr>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n<td></td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":700,"y":140,"wires":[[]]},{"id":"55e4dd38.4d9424","type":"function","z":"abe5fdac.b8167","name":"","func":"var num = msg.payload;\n\nif (50 <= num && num <= 70) {\n    count = \"Major\"\n}\nelse if (71 <= num) {\n    count = \"Critical\"\n}\nelse if (num <= 49 && num > 0){\n    count = \"Normal\"\n}\n\nmsg.payload = count; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["b0a50a15.0ccdf8","2fdf3d44.c3c7f2"]]},{"id":"b0a50a15.0ccdf8","type":"ui_text","z":"abe5fdac.b8167","group":"dc93f64e.e19118","order":2,"width":6,"height":1,"name":"","label":"STATUS","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":100,"wires":[]},{"id":"8f06d066.d3c14","type":"function","z":"abe5fdac.b8167","name":"","func":"var num2 = msg.payload;\n\nif(num2 == 0){\n    count1 = \"yellow\";\n}\nelse if(num2 == 1){\n    count1 =  \"red\";\n}\nelse if(num2 == 2){\n    count1 = \"lime\";\n}\n\nmsg.payload = count1; \n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":60,"wires":[["d6e48058.85dd2","2fdf3d44.c3c7f2"]]},{"id":"46ac793d.f0a798","type":"ui_template","z":"abe5fdac.b8167","group":"c982fbb8.1deb38","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":700,"y":180,"wires":[[]]},{"id":"dc93f64e.e19118","type":"ui_group","name":"Default","tab":"8fc089eb.0efde8","order":5,"disp":false,"width":"6","collapse":false},{"id":"c982fbb8.1deb38","type":"ui_group","name":"hidden_group","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"8fc089eb.0efde8","type":"ui_tab","name":"ETI","icon":"dashboard","order":1,"disabled":false,"hidden":false}]